@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Poppins:wght@300&display=swap');

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body, #submit-button {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #2c2c2c;
}

h1, h2 {
    font-family: Josefin Sans, sans-serif;
    font-weight: 600;
}

/* TITLE & NAVIGATION */
/* title */

#title {
    color: #35503b;
    text-align: center;
    font-size: 350%;
    line-height: 150%;
    letter-spacing: -6px;
    margin-top: 10px;
}

#title a {
    color: inherit;
    text-decoration: none;
}

/* logos */

#title i {
    color: #707e4e;
    font-size: 70%;
    margin-right: 5px;
    margin-left: 1px;
}

/* navigation bar */

nav {
    color: #f5f5f5;
    background-color: #35503b;
    text-align: center;
    font-size: 125%;
    line-height: 200%;
    padding-bottom: 3px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

/* navigation bar links*/

.nav-links, .active {
    color: inherit;
    text-decoration: none;
}

.nav-links:hover, .active {
    border-color: inherit;
    border-bottom: 1px solid;
}

/* HOME PAGE */
/* hero image */

#hero-section {
    position: relative;
}

#hero-image {
    background: url('../images/hero-image.jpg') no-repeat top center; 
    width: 100%;
    height: 300px;
    
    animation: hero-pan;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes hero-pan {
    from{
        background-position: top;
    }

    to{
        background-position: bottom;
    }
}

/* cover text */

#hero-cover-text {
    color: #f5f5f5;
    background-color: #707e4eea;
    font-size: 125%;
    text-align: center;
    letter-spacing: -1px;
    width: 450px;
    height: 100px;
    padding: 15px 25px 10px;

    position: absolute;
    left: 50%;
    top: 50%;        
    transform: translate(-50%,-50%);
    
    opacity: 0;
    animation: cover-text-reveal;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes cover-text-reveal {
        from{
            opacity: 0;
        }
    
        to{
            opacity: 1;
        }
    }


/* why join us? section */

#be-green div, #be-active div, #be-social div, #be-inspired div {
    width: 25%;
    height: 300px;
    float: left;
}

/* why join us? text elements */

#why-join-header {
    font-size: 275%;
    letter-spacing: -3px;
    text-align: center;
    padding: 35px 0px 25px;
}

.why-join-text h3 {
    font-size: 175%;
    text-align: center;
    padding-top: 15px;
}

.why-join-text i {
    color: #35503b;
    font-size: 85%;
    padding: 0px 5px;
}

.why-join-text p {
    font-size: 120%;
    text-align: center;
    padding: 20px 25px 10px;    
}

/* why join us? hr lines and images */

.why-join-text hr {
    border: 1px dashed #707e4e;
    width: 75%;
}

#be-green hr, #be-active hr {
    float: right;
}

#be-social hr, #be-inspired hr  {
    float: left;
}

.why-join-image {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.why-join-image img {
    max-width: 100%;
}

.why-join-hiddenimage {
    display: none;
}

/* continue exploring section */

#continue-section div {
    text-align: center;
    height: 200px;
    float: left;    
}

#continue-section hr {
    border-bottom: 2px solid #707e4e;
    width: 100%;
    padding-top: 50px;
}

.continue-spacing {
    width: 12%;
}

.continue-text {
    width: 32%;
}

/* continue exploring text elements */

#continue-section h2 {
    font-size: 220%;
    text-align: center;
    letter-spacing: -3px;
    padding: 35px 0px 20px;
}

#continue-section p {
    font-size: 115%;
    padding: 0px 50px;
}

#continue-section a {
    color: #35503b;
    font-weight: bold;
    text-decoration: underline;
}

#continue-section a:hover {
    color: #f5f5f5;
    background-color: #707e4e;
    text-decoration: none;
}

/* EVENTS PAGE */

/* CONTACT PAGE */
/* contact form layout*/

#contact-form div {
    height: 550px;
    float: left;
}

.contact-spacing {
    width: 15%;
}

#contact-details {
    width: 34%;
}

#contact-image {
    width: 36%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#contact-image img {
    height: 100%;
}

/* contact form elements*/

#contact-form h2 {
    font-size: 225%;
    letter-spacing: -3px;
    padding: 25px 0px;
}

#contact-form h3 {
    color: #35503b;
    font-size: 115%;
    padding-top: 5px;
}

.contact-text {
    width: 375px;
    height: 25px;
    margin-bottom: 10px;
    border: 1px solid #707e4e;
    border-radius: 5px;
}

.contact-brackets {
    font-size: 80%;
}

#contact-form li {
    list-style: none;
}

.checkbox {
    height: 25px;
    margin-right: 10px;
    float: left;
    border: #35503b;
}

#comments {
    height: 100px;
}

#submit-button {
    color: #f5f5f5;
    background-color: #707e4e;
    font-size: 95%;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 7px;
    display: block;
}

#submit-button:hover {
    background-color: #35503b;
    border: 1px solid #707e4e;
}

/* FOOTER */
/* footer layout*/

footer {
    color: #f5f5f5;
} 

footer div {
    background-color: #707e4e;
    height: 325px;
    margin-top: 10px;
    float: right;
}

#directions {
    width: 35%;
    text-align: justify;
}

/* footer map*/

#map {
    width: 45%;
    text-align: right;
}

#map iframe {
    width: 90%;
    height: 85%;
    border: 2px solid #35503b;
    margin: 25px 35px 25px 20px;
}

/* footer text elements*/

footer h2 {
    font-size: 175%;
    letter-spacing: -1px;
    margin-top: 30px;
}

footer h3 {
    padding-top: 15px;
}

footer i {
    font-size: 90%;
    padding-left: 5px;
}

footer p {
    font-size: 95%;    
}

/* footer social links*/

#social {
    width: 20%;
    text-align: center;
}

#social ul li {
    font-size: 300%;
    list-style: none;
    display: inline;
    padding: 25px 5px;
}

.social-links {
    color: inherit;
    text-decoration: none;
}
.social-links:hover {
    color: #35503b;
}


/* Media queries*/
/* Media queries for screens 901px to 1200px */

@media screen and (max-width: 1200px) {
  
    .why-join-text h3 {
        font-size: 150%;        
    }
    
    .why-join-text p {
        font-size: 105%;
        padding-top: 10px;
    }

    #continue-section div {
        height: 200px;  
    }

    .continue-spacing {
        width: 10%;
    }

    .continue-text {
        width: 35%;
    }

    .contact-spacing {
        width: 4%;
    }
    
    #contact-details {
        width: 45%;
    }
    
    #contact-image {
        width: 47%;
    }

    #social {
        width: 100%;
        height: 115px;
    }

    #social h2 {
        margin-top: 15px;
    }

    #directions, #map {
        width: 50%;
    }

    #directions p {
        padding-right: 25px;
    }  
}

/* Media queries for screens 601px to 900px */

@media screen and (max-width: 900px) {

    #be-green div, #be-inspired div {
        width: 50%;
        height: 250px;
        float: left;    
    }

    #be-active div, #be-social div {
        width: 50%;
        height: 250px;
        float: right;    
    }

    #be-active hr {
        float: left;
    }

    #be-social hr {
        float: right;
    }
    
    .continue-spacing {
        width: 2%;
    }

    .continue-text {
        width: 47%;
    }

    #continue-section h2 {
        font-size: 200%;
    }
    
    #continue-section p {
        font-size: 100%;
    }

    .contact-spacing {
        width: 14%;
        background-image: url('../images/family.jpg');
    }
  
    #contact-details {
        width: 72%;
        text-align: center;
    }
  
    #contact-image {
        width: 0%;
    }

    .checkbox {
        position: absolute;
        margin-left: 5px;
    }

    #submit-button {
        text-align: center;
        margin: auto;
    }

    footer h2, footer h3 {
        text-align: center;
    }

    #directions, #map {
        width: 100%;
    }

    #directions {
        height: 275px;
    }

    #directions h2, #directions p {
        padding: 5px 25px;
    }

    #directions h3 {
        padding: 0px 25px;
    }

    #map {
        height: 300px;
        text-align: center;
        margin: auto 0px;
        padding-top: 0px;
    }

    #map iframe {
        width: 90%;
        margin: 25px 20px;
    }      
}

/* Media queries for screens 451px to 600px */

@media screen and (max-width: 600px) {

    #title {
        font-size: 285%;
        letter-spacing: -5px;
    }

    #hero-cover-text {
        font-size:105%;
        letter-spacing: -0.5px;
        width: 75%;
        height: 100px;     
    }

    #why-join-header {
        font-size: 240%;
    }

    .why-join-text h3 {
        padding-top: 20px;
    }
  
    #be-green div, #be-active div, #be-social div, #be-inspired div {
        width: 100%;
        height: 200px;
    }

    #be-green hr, #be-active hr, #be-social hr, #be-inspired hr {
        visibility: hidden;
    }

    #why-join-bottom .why-join-image {
        display: none;
    }
    
    .why-join-hiddenimage {
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    .why-join-hiddenimage img {
        width: 100%
    }

    .why-join-text p {
        font-size: 120%;
    }

    #continue-section div {
        height: 175px;  
    }

    .continue-spacing {
        width: 0%;
    }

    .continue-text {
        width: 100%;
    }

    .contact-spacing {
        width: 5%;
    }

    #contact-form h2 {
        font-size: 210%;
    }
    
    #contact-form h3 {
        font-size: 100%;
    }
  
    #contact-details {
        width: 90%;
    }
    
    #directions {
        height: 320px
    }
}

/* Media queries for screens 450px and smaller */

@media screen and (max-width: 450px) {

    #title {
        font-size: 225%;
        letter-spacing: -4px;
    }

    #title i {
        font-size: 60%;
    }

    nav {
        font-size: 110%;
    }

    #hero-cover-text {
        height: 125px; 
    }

    #why-join-header {
        font-size: 225%;
    }

    .why-join-text p {
        font-size: 110%;
    }
    
    #directions {
        height: 315px;
    }
    
    #directions h2 {
        font-size: 145%;
    }

    #directions h3 {
        font-size: 110%;
    }

    #directions p {
        font-size: 90%;
    }
}