@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Source+Sans+Pro:wght@400&display=swap');

/* general */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 400;
    color: #252525;
}

/* headings */

h1, h2 {
    font-family: Josefin Sans, sans-serif;
    font-weight: 600;
}

/* title & navigation */

#title {
    color: #366340;
    text-align: center;
    font-size: 350%;
    line-height: 200%;
    letter-spacing: -4px;
    margin-top: 10px;
}

nav {
    background-color: #366340;
    text-align: center;
    font-size: 150%;
    line-height: 200%;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

.nav-links {
    color: #f5f5f5;
    text-decoration: none;
}