@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Poppins:wght@300&display=swap');

/* general */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #2c2c2c;
}

h1, h2 {
    font-family: Josefin Sans, sans-serif;
    font-weight: 600;
}

/* title */

#title {
    color: #35503b;
    text-align: center;
    font-size: 350%;
    line-height: 150%;
    letter-spacing: -6px;
    margin-top: 10px;
}

#title a {
    color: inherit;
    text-decoration: none;
}

/* logos */

#title i {
    color: #707e4e;
    font-size:70%;
    margin-right: 5px;
    margin-left: 1px;
}

/* navigation bar */

nav {
    color: #f5f5f5;
    background-color: #35503b;
    text-align: center;
    font-size: 125%;
    line-height: 200%;
    padding-bottom: 3px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

/* navigation bar links*/

.nav-links, .active {
    color: inherit;
    text-decoration: none;
}

.nav-links:hover, .active {
    border-color: inherit;
    border-bottom: 1px solid;
}

/* hero image */

#hero-section {
    position: relative;
}

#hero-image {
    background: url('../images/hero-image.jpg') no-repeat top center; 
    width: 100%;
    height: 300px;
    
    animation: hero-pan;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

@keyframes hero-pan {
    from{
        background-position: top;
    }

    to{
        background-position: bottom;
    }
}

/* cover text */

#hero-cover-text {
    color: #f5f5f5;
    background-color: #707e4eea;
    font-size: 125%;
    text-align: center;
    letter-spacing: -1px;
    width: 450px;
    height: 100px;
    padding: 20px 25px;

    position: absolute;
    left: 50%;
    top: 50%;        
    transform: translate(-50%,-50%);
    
    opacity: 0;
    animation: cover-text-reveal;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes cover-text-reveal {
        from{
            opacity: 0;
        }
    
        to{
            opacity: 1;
        }
    }


/* why join us? section */

#why-join-section div div {
    width: 25%;
    height: 300px;
    float: left;    
}

/* why join us? text elements */

#why-join-header {
    font-size: 275%;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: -3px;
    padding: 35px 0px 25px;
}

.why-join-text h3 {
    font-size: 175%;
    text-align: center;
    padding-top: 15px;
}

.why-join-text i {
    color: #35503b;
    font-size: 85%;
    padding: 0px 5px;
}

.why-join-text p {
    font-size: 120%;
    text-align: center;
    padding: 20px 25px 10px;    
}

@media screen and (max-width: 1200px) {

    #why-join-header {
        font-size: 250%;
    }
    
    .why-join-text h3 {
        font-size: 150%;        
    }
    
    .why-join-text p {
        font-size: 100%;
    }    
}

/* why join us? hr lines and images */

.why-join-text hr {
    border: 1px dashed #707e4e;
    width: 75%;
}

#why-join-top hr {
    float: right;
}

#why-join-bottom hr {
    float: left;
}

.why-join-image {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.why-join-image img {
    max-width: 100%;
}

/* continue exploring section */

#continue-section div {
    text-align: center;
    height: 175px;
    float: left;    
}

#continue-section hr {
    border-bottom: 2px solid #707e4e;
    width: 100%;
    padding-top: 50px;
}

.continue-spacing {
    width: 16%;
}

.continue-text {
    width: 26%;
}

/* continue exploring text elements */

#continue-section h2 {
    font-size: 225%;
    text-align: center;
    letter-spacing: -3px;
    padding: 35px 0px 20px;
}

#continue-section p {
    font-size: 120%;
    padding: 0px 50px;
}

#continue-section a {
    color: #35503b;
    text-decoration: underline;
}

#continue-section a:hover {
    color: #f5f5f5;
    background-color: #707e4e;
    text-decoration: none;
}

/* footer */

footer div {
    background-color: #707e4e;
    height: 275px;
    float: left
}

#map {
    width: 50%;
    text-align: center;
}

#map iframe {
    width: 95%;
    height: 85%;
    border: 2px solid #f5f5f5;
    position: relative;
    top: 15px;
}

#directions, #social-links {
    width: 25%;
}